# Infrastructure configuration
app_name                = ""
coolfy_email            = ""
coolify_password        = ""
cloudflare_tunnel_token = ""



# Oracle Cloud Infrastructure credentials (required if cloud_provider = "oracle")
oracle_tenancy_ocid     = ""
oracle_user_ocid        = ""
oracle_fingerprint      = ""
oracle_private_key_path = ""
oracle_region           = ""